<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title> <img src="../../assets/instagram_logo.svg" /> Tab 1 </ion-title>

    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- STORIES -->
  <div class="text-stories">
    <p>Stories</p>
  </div>

  <div class="stories">
    <div class="story">
      <div class="img-box">
        <img src="../../assets/9.jpg" />
      </div>
      <p>susan_mda</p>
    </div>

    <div class="story">
      <div class="add_story">
        <img src="../../assets/1.jpg" />
        <ion-icon color="primary" name="add-circle"></ion-icon>
      </div>
      <p style="color: #86888f">libra.laura</p>
    </div>
  </div>

  <hr />

  <ion-item no-padding lines="none">
    <ion-avatar slot="start">
      <img src="../../assets/8.jpeg" />
    </ion-avatar>
    <ion-label>lisa.franck</ion-label>
    <ion-icon slot="end" name="more"></ion-icon>
  </ion-item>

  <img class="post_img" src="../../assets/post_1.jpg" />

  <div class="flex-button">
    <div>
      <ion-icon name="heart"></ion-icon>
      <ion-icon name="text"></ion-icon>
      <ion-icon name="send"></ion-icon>
    </div>
    <ion-icon name="bookmark"></ion-icon>
  </div>

  <p class="insta-text"><b>2.875 Likes</b></p>

  <p class="insta-text">
    <b>lisa_franck</b> Abusus enim multitudine hominum, quam tranquillis in
    rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis
    opibus firmas et viribus, quarum ad praesens pleraeque licet
  </p>
</ion-content>
